*.iml
*.ipr
*.iws
*.class
*.dex
*.apk
*.aab
*.ap_
*.aar
*.hprof
*.log
*.xcuserstate
*.moved-aside

local.properties
gradle-app.setting
.gradletasknamecache
gradle/wrapper/gradle-wrapper.properties.bak
hs_err_pid*

.gradle/
.kotlin/
build/
out/
bin/
gen/
captures/
.externalNativeBuild/
.cxx/
.signing/
.navigation/
proguard/

xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
.swiftpm/
Pods/
Carthage/Build/
*.xcframework/

.idea/caches/
.idea/libraries/
.idea/shelf/
.idea/dictionaries/
.idea/workspace.xml
.idea/tasks.xml
.idea/assetWizardSettings.xml
.idea/navEditor.xml
.idea/jarRepositories.xml
.idea/.name
.idea/copyright/profiles_settings.xml

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

docs/
*.md
